* {
  box-sizing: border-box;
}

.goBackBtn{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 1vh;
  text-decoration: none;
  color: grey;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 3vh;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
}

.square {
  width: 16px;
  height: 16px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 1s ease;
}
.square:hover{
  transition-duration: 0s;
}